
{{> header}}
<div class="container">
<h1>Movies Index Page</h1>
<a href="movies/new">Create a new movie</a>
{{#each movies}}
<h3><a href="movies/{{this.id}}">{{this.title}}</a></h3>
<p>Director: {{this.director}}</p>
<p>year: {{this.year}}</p>
<p>my_rating: {{this.my_rating}}</p>
<!-- <form action='/movies/{{this.id}}?_method=DELETE' method='POST'><input type="button" class="deletebtn" data-id="{{this.id}}" value="delete this movie"></form> -->
<input type="button" class="deletebtn" data-id="{{this.id}}" value="delete this movie">
{{/each}}
</div>

<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript">
$('.deletebtn').on('click', (event) => {
event.preventDefault()
makeRequest('DELETE', '/movies/' + $(event.target).data('id'))
})





</script>
