<div class="container">
<h1>Movies Show Page</h1>
<h2>Title: {{movie.title}}</h2>
<p>Director: {{movie.director}}</p>
<p>year: {{movie.year}}</p>
<p>my_rating: {{movie.my_rating}}</p>
<a href="/edit/{{movie.id}}">edit</a>
</div>
